DB_ADAPTER={{ gitlab_db_adapter }}
DB_HOST={{ gitlab_db_host }}
DB_PORT={{ gitlab_db_port }}
DB_USER={{ gitlab_db_user }}
DB_PASS={{ gitlab_db_pass }}
DB_NAME={{ gitlab_db_name }}
DB_EXTENSION={{ gitlab_db_extension }}
