GITLAB_HOST={{ gitlab_gitlab_host }}
GITLAB_PORT={{ gitlab_gitlab_port }}
GITLAB_SSH_PORT={{ gitlab_gitlab_ssh_port }}
GITLAB_RELATIVE_URL_ROOT={{ gitlab_gitlab_relative_url_root }}
GITLAB_SECRETS_DB_KEY_BASE={{ gitlab_gitlab_secrets_db_key_base }}
GITLAB_SECRETS_SECRET_KEY_BASE={{ gitlab_gitlab_secrets_secret_key_base }}
GITLAB_SECRETS_OTP_KEY_BASE={{ gitlab_gitlab_secrets_otp_key_base }}

GITLAB_ROOT_PASSWORD={{ gitlab_gitlab_root_password }}
GITLAB_ROOT_EMAIL={{ gitlab_gitlab_root_email }}

GITLAB_NOTIFY_ON_BROKEN_BUILDS={{ gitlab_gitlab_notify_on_broken_builds }}
GITLAB_NOTIFY_PUSHER={{ gitlab_gitlab_notify_pusher }}

GITLAB_EMAIL={{ gitlab_gitlab_email }}
GITLAB_EMAIL_REPLY_TO={{ gitlab_gitlab_email_reply_to }}
GITLAB_INCOMING_EMAIL_ADDRESS={{ gitlab_gitlab_incoming_email_address }}

GITLAB_BACKUP_SCHEDULE={{ gitlab_gitlab_backup_schedule }}
GITLAB_BACKUP_TIME={{ gitlab_gitlab_backup_time }}

GITLAB_TIMEZONE={{ gitlab_gitlab_timezone }}
GITLAB_HTTPS={{ gitlab_gitlab_https }}
