SMTP_DOMAIN={{ gitlab_smtp_domain }}
SMTP_HOST={{ gitlab_smtp_host }}
SMTP_PORT={{ gitlab_smtp_port }}
SMTP_USER={{ gitlab_smtp_user }}
SMTP_PASS={{ gitlab_smtp_pass }}
SMTP_ENABLED={{ gitlab_smtp_enabled }}
SMTP_STARTTLS={{ gitlab_smtp_use_starttls }}
SMTP_AUTHENTICATION={{ gitlab_smtp_authentication }}
